@import @vi.son/rouge/1-settings/_colors.sass

.totem
  .canvas-wrapper
    position: fixed
    height: 100vh
    width: 100vw
    top: 0
    left: 0
    display: flex
    canvas
      flex-grow: 1
      width: 100%
      height: 100%

  .interaction-explanation
    position: fixed
    top: 30px
    left: 0
    transform: scale(0.75)
    z-index: 999
    display: flex
    justify-content: center
    align-items: center
    opacity: 0.75
    width: 100vw
    .text
      margin-top: 20px
      max-width: 30ch
      line-height: 1.2
      color: var(--color-snow)

  .sounds-ui
    display: flex
    position: fixed
    left: 20px
    top: 130px
    display: flex
    flex-direction: column
    z-index: 9
    line-height: 1.5
    .sound-ui
      font-size: 1rem
      cursor: pointer
      &:hover
        color: var(--color-curacao) !important
      &.active
        color: var(--color-snow)
      &.inactive
        color: var(--color-darkness)
