@import @vi.son/rouge/1-settings/_colors.sass

.totem
  .canvas-wrapper
    height: 100vh
    top: 0
    left: 0
    display: flex
    canvas
      flex-grow: 1
      width: 100%
      height: 100%

  .download-rendering
    position: fixed
    bottom: 20px
    right: 20px
    z-index: 999
    display: flex
    justify-content: center
    align-items: center
    background: none
    &:hover
      background: none
      .emoji
        background: var(--color-curacao)
      .text
        opacity: 1
        transform: translateY(0)
    .text
      opacity: 0
      margin-right: 30px
      font-weight: bold
      color: white
      font-size: 1.75rem
      transition: transform 1s ease, opacity 1s ease
      transform: translateY(30px)
    .emoji
      background: white
      display: flex
      justify-content: center
      align-items: center
      width: 120px
      height: 120px
      border-radius: 120px
      font-size: 2.5rem
      margin-right: 10px

  .interaction-explanation
    position: fixed
    top: 30px
    left: calc(40% + 30px)
    z-index: 999
    display: flex
    justify-content: center
    align-items: center
    opacity: 0.75
    .text
      margin-top: 20px
      max-width: 30ch
      line-height: 1.2
      color: var(--color-snow)

  .sounds-ui
    display: flex
    position: fixed
    right: 10px
    top: 10px
    display: flex
    flex-direction: column
    z-index: 9999
    line-height: 1.5
    .sound-ui
      font-size: 1rem
      cursor: pointer
      &:hover
        color: var(--color-curacao) !important
      &.active
        color: var(--color-snow)
      &.inactive
        color: var(--color-darkness)
