@import @vi.son/rouge/1-settings/_colors.sass

.finish
  max-height: 100vh !important
  height: 100vh
  .two-columns
    display: grid
    height: 100vh
    grid-template-columns: 40% 60%
    padding-bottom: 0
    &.wide
      grid-template-columns: 0% 100%

    .textblock
      padding: 60px
      padding-top: 200px
      color: var(--color-darkness)
      display: flex
      flex-direction: column
      justify-content: space-between
      .title
        margin-bottom: 40px
        display: flex
        flex-direction: column
        line-height: 1.0
      .emoji
        font-size: 5vw
      .buttons
        display: flex
        flex-direction: column
        button
          transition: background 500ms ease
          background: var(--color-curacao)
          color: var(--color-snow)
          &:hover
            background: var(--color-darkness)

        .btn-primary
          transition: background 500ms ease
          background: var(--color-curacao)
          color: var(--color-snow)
          padding: 40px
          margin: 0
          margin-bottom: 30px
          &:hover
            background: var(--color-darkness)

        .btn-secondary
          text-align: left
          transition: background 500ms ease
          margin: 0
          background: none
          color: var(--color-darkness)
          padding: 5px 40px
          margin-top: 2px
          &:hover
            color: var(--color-curacao)
            background: none

        .restore-totem
          display: flex
          flex-direction: row
          align-items: center
          height: 50px
          margin-top: 40px
          label
            min-width: 100px
          input
            padding: 10px
            background: var(--color-dirtysnow)
            border: 0
            margin-top: 0
            font-size: 0.8rem
            height: 50px
            flex-grow: 1
          button
            height: 50px
            margin: 0
            font-size: 1.0rem
            padding: 10px

  .totem
    background: var(--color-darkness)

.stored-with-session-id
  position: fixed
  right: 20px
  top: 20px
  background: var(--color-snow)
  padding: 30px
  z-index: 999
  display: inline-flex
  flex-direction: column
  align-items: flex-end
  line-height: 1.4
  border-radius: 2px
  box-shadow: 0 10px 40px var(--color-darkness-30)
