.flow
  display: grid
  height: 100vh
  width: 100vw
  pointer-events: none

  .description
    display: grid
    grid-template-columns: 60px auto
    grid-template-rows: auto auto
    pointer-events: all
    .title
      margin: 0
    .emoji
      grid-row: span 2
      align-self: center

    &.step-1
      position: fixed
      top: 60px
      left: 60px
    &.step-3
      position: fixed
      right: 60px
      top: 50%

  .next-sample
    position: fixed
    top: 60%
    right: 60px


  .audio-player
    margin-top: 100px


  .mapping-debug
    position: fixed
    left: 0
    top: 0
    z-index: 999
    background: black
    max-width: 90ch
    color: white
    font-size: 0.9rem
    padding: 20px
    word-wrap: break-word
    .current-mapping
      display: flex
      flex-direction: column
    hr
      opacity: 0.2
      margin: 40px 0
    *
      color: white
    .mapping
      display: flex
      flex-direction: column
      margin-bottom: 20px

  .mapping-selection
    display: flex
    align-self: center
    justify-self: center
    justify-content: space-around
    width: 100%
    max-width: 60ch
    .input-selection
      color: var(--color-darkness)
      pointer-events: all
      width: 120px
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      svg
        transform: scale(1.1)
