@import @vi.son/rouge/1-settings/_colors

.start
  display: flex
  overflow-y: scroll
  .two-columns
    padding: 120px
    display: grid
    grid-template-columns: 1fr 1fr
    grid-gap: 120px
    .left
      display: flex
      flex-direction: column
      justify-content: flex-start
      align-items: flex-start
      .heading
        margin-bottom: 40px
        color: var(--color-darkness)
      .text
        color: var(--color-darkness)
        a
          cursor: pointer
          color: var(--color-curacao)
          background: none
          &:hover
            background: var(--color-curacao)
            color: var(--color-snow)
    .right
      display: flex
      flex-direction: column
      justify-content: center
      .illustration-wrapper
        padding: 0
        margin: 0
        width: 100%
        max-height: 100%
        position: relative
        display: flex
        svg
          width: 100%

  .btn-secondary
    margin-top: 40px

  .start-button
    background: var(--color-curacao)
    color: var(--color-snow)
    display: flex
    flex-direction: column
    padding: 40px 50px
    margin: 0
    border: 0
    margin: 10px
    font-size: 1rem
    cursor: pointer
    text-transform: lowercase
    letter-spacing: 0.01rem
    margin-top: 30px
    transition: background 200ms ease, box-shadow 300ms ease
    &:hover
      color: var(--color-snow)
      background: var(--color-darkness)
    &:disabled
      opacity: 0.05
      background: 0
      &:hover
        box-shadow: none
