.kontrol-wrapper
  position: fixed
  left: 40px
  top: 40px
  z-index: 999999
  pointer-events: all
  .kontrol-toggle,
  .kontrol
    pointer-events: all

.samples
  display: flex
  flex-direction: column
  pointer-events: all
  span
    cursor: pointer
    &:hover
      opacity: 0.5

.btn-to-start
  position: fixed
  left: 60px
  bottom: 60px

.interaction-explanation
  font-size: 0.75rem
  opacity: 0.6
  margin-top: 40px
  display: flex
  align-items: center
  justify-content: center
  .icon
    transform: scale(0.75)
  .text
    margin-top: 10px
    max-width: 20ch
    color: var(--color-snow)
